* {
    box-sizing: border-box; 
    transition: all 0.5s;
    outline: none;
}	

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #60606e;
    animation: slideInLeft;
    animation-duration: 1s;
    padding: 0;
}

header {
    position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 500px;
    background: url(image/Layer4.png)50% 50% no-repeat;
    background-size: cover;
    transition: all 2s;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.85);
}

.burger {
    display: none;
}

.container {
	width: 1140px;
    margin: 0 auto;
}

.headerContainer {
    padding-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "log nav"
    "abo abo"
    ;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    color: #60606e;
    grid-area: log;
}

.navBar {
    grid-area: nav;
}

.navBar ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.list li {
    height: 30px;
    width: 100px;
    display: block;
}

.list a {
    text-decoration: none;
    color: #60606e;
    text-align: center;
    line-height: 30px;
}

.list span {
    text-decoration: none;
    color: #60606e;
    text-align: center;
    line-height: 30px;
}

.list li:hover {
    transform: scale(1.1);
}

.selected {
    background-color: #7beec7;
    border-radius: 5px;
}

li:hover .animate{
    border: #60606e solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    animation: rotateIn;
    animation-duration: 1s;
}

ul.submenu {
    display: none;
}

.subLi:hover ul.submenu {
    display: block;
    animation: zoomInDown;
    animation-duration: 1s;
}

.submenu li {
    border-radius: 5px;
    width: 200px;
    text-align: left;
    padding-left: 15px;
    color: white;
    background-color: #60606e;
    line-height: 30px;
}

.submenu a {
    color: white;
}

.about {
    grid-area: abo;
    align-self: end;
}

.agencyName {
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.agencyAbout {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.whatWeDoContainer {
    height: 515px;
    line-height: 27px;
    color: #60606e;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    't t p p'
    'l l1 p p'
    ;
}

.whatWeDoContainer i {
    margin-right: 5px;
    color: #7beec7;
}

.text {
    grid-area: t;
    color: #7e7e89;
}

.list1 {
    grid-area: l;
}

.list2 {
    grid-area: l1;
}

.macImage {
    grid-area: p;
}

.square {
    height: 30px;
    width: 335px;
    margin-bottom: 20px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

.square h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.greenSquare {
    position: absolute;
    width: 65px;
    height: 20px;
    bottom: 0;
    background-color: #7beec7;
}

.hForSquare {
    position: absolute;
    z-index: 10;
}

.button {
    background-color: #7beec7;
    color: white;
    height: 50px;
    width: 165px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 1s;
    transform: scale(1.1);
    cursor: pointer;
}

.titleContainer {
    width: 750px;
    height: 190px;
    margin: 0 auto;
    text-align: center;
    padding: 0 15px 0 15px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 150px;
    line-height: 20px;
    width: 80%;
}

.servicesContainer {
    height: 200px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.service {
    line-height: 30px;
    padding: 0 20px 0 20px;
}

.service h1 {
    font-size: 18px;
    font-weight: bold;
}

.square1 {
    height: 50px;
    width: 50px;
    position: relative;
    margin: 0 auto;
    display: grid;
    align-items: center;
}

.greenSquare1 {
    position: absolute;
    width: 50px;
    height: 20px;
    bottom: 0;
    background-color: #7beec7;
}

.hForSquare1 {
    position: absolute;
    z-index: 10;
    display: grid;
    align-items: center;
}
.service p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #888892;
}

.pricingContainer {
    height: 640px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.plan {
    width: 360px;
    height: 490px;
    border-top: 5px solid #7beec7;
    padding: 30px 0 0 30px;
}

.plan h1{
    font-size: 30px;
    font-weight: bold;
}

.price {
    width: 165px;
    height: 30px;
    background-color: #7beec7;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    margin: 15px 0 50px 0;
}

.plan ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 55px;
}

.plan i {
    color: #7beec7;
    margin-right: 5px;
}

.plan:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: scale(1.1);
    cursor: pointer;
}

.green {
    background-color: #7beec7;
    color: white;
}

.getInTouchContainer {
    height: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 0 40px 0;
}

.getInTouch h1 {
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 25px 0;
}

.getInTouch .button {
    background-color: white;
    color: #7beec7; 
}

.stayInformed {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 20px 20px 20px 20px;
}

.stayInformed h1{
    color: #60606e;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.stayInformed p {
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
}

.form {
    margin-top: 10px;
    height: 50px;
    border: 1px solid #cdcdcd;
    margin-right: 10px;
}

.form form, input {
    width: 100%;
    height: 100%;
}

.email {
    border: none;
    padding-left: 20px;
}

.email::placeholder {
    color: #cdcdcd;
}

.stayInformed .button {
    margin-top: 20px;
}

.footerContainer {
    padding-top: 50px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'nav cop'
    '. ico'
    ;
}

.copyRight {
    justify-self: end;
    color: #9a9a9a;
    grid-area: cop;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.footerContainer a {
    color: #9a9a9a;
    font-weight: 300;
}

.icons {
    color: #9a9a9a;
    font-size: 18px;
    justify-self: end;
    grid-area: ico;
}

.icons i {
    margin-left: 10px;
}

.icons i:hover {
    color: #7beec7;
    transform: scale(1.1);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.30);
    display: none;
    z-index: 20;
}

.modal2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.30);
    display: none;
    z-index: 20;
}

.modal h3 {
    color: #60606e;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.modal2 h3 {
    color: #60606e;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.modal-block {
	width: 400px;
	margin: 80px auto;
	height: 270px;
	border: 1px solid gray;
	background-color: white;
	padding: 15px;
	box-sizing: border-box;
}

.form-field {
	margin: 10px 0;	
}

.form-field input {
	width: 100%;
	padding: 10px;
    height: 40px;
    border: 1px solid #cdcdcd;
    outline: none;
}

.btn-cloth {
    font-weight: bolder;
    width: 15px;
    height: 15px;
    margin-left: 95%;
}

.btn-cloth2 {
    font-weight: bolder;
    width: 15px;
    height: 15px;
    margin-left: 95%;
}

.btn-cloth:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-cloth2:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hide {
	display: none;
}

.show {
	display: block;
}

.flexslider .slides img {
    width: 65%;
    margin: 0 auto;
}

.flex-direction-nav a {
    width: 50px;
    height: 50px;
}

.flex-direction-nav a:before {
    color: white;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    background-color: #7beec7;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 55px;
}

.flexslider:hover .flex-direction-nav .flex-prev {
    left: -70px;
}

.flexslider:hover .flex-direction-nav .flex-next {
    right: -70px;
    text-align: right;
}

.nav-mobile-menu {
    display: none;
}

@media all and (max-width: 868px) {
    body {
        animation: bounceInLeft;;
        animation-duration: 2s;
    }

    .container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
    header {
        height: 100%;
    }
    .headerContainer {
        padding-top: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 25px auto auto 3fr;
        grid-template-areas: 
        'log'
        'bur'
        'nav'
        'abo'
        ;
        justify-items: center;
    }

    .agencyName {
        width: 100%;
        height: 50%;
    }

    .about {
        width: 100%;
    }

    .agencyAbout {
        width: 100%;
    }

    .overlay {
        position: relative;
    }
    
    .titleContainer {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        padding-top: 20px;
    }

    .title {
        margin-top: 0;
    }

    .navBar {
        margin-bottom: 20px;
    }

    .whatWeDoContainer {
        padding: 10px 0 10px 0;
        height: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.5fr 4fr;
        grid-template-areas: 
        'p p'
        'l1 l2'
        'i i'
        ;
    }

    .text {
        grid-area: p;
    }

    .list1 {
        grid-area: l1;
    }

    .list2 {
        grid-area: l2;
    }

    .macImage {
        grid-area: i;
    }

    .macImage img {
        width: 740px;
        height: 480px;
    }

    .whatWeDoContainer ul {
        text-align: left;
        margin: 10px 0 10px 100px;
    }

    .square {
        height: 30px;
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .history {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .history .button {
        position: relative;
        bottom: 0;
        margin: 0 auto;
    }

    .hForSquare {
       width: 100%;
       text-align: center;
    }

    .greenSquare {
        left: 40%;
    }

    .history p {
        text-align: center;
    }

    .servicesContainer{
        height: 100%;
        padding-bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: 
        "se se"
        "se se"
    ;
    }

    .service {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .service h1 {
        margin: 0;
    }

    .pricingContainer {
        height: 100%;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .plan {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        padding: 0 0 10px 10px;
    }

    .plan:hover {
        transform: scale(1.02);
    }
   
    .getInTouchContainer {
        height: 100%;
        display: block;
        padding: 0;
        text-align: center;
    }

    .getInTouch .button {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .stayInformed .button {
        margin: 0 auto;
        margin-top: 20px;
    }

    .footerContainer {
        height: 100%;
        display: block;
        padding: 0;
    }

    .footerContainer .navBar {
        height: 100%; 
    }

    .list li {
        margin: 0 auto;
    }

    .copyRight {
        height: 100%;
        text-align: center;
    }

    .icons {
        height: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .modal-block {
        width: 95%;
    }
}

@media all and (max-width: 565px) {
    body {
        animation: bounceInLeft;;
        animation-duration: 2s;
    }

    .navBar ul {
        display: block;
        height: 100%;
    }

    .submenu li{
        display: none;
    }

    .subLi:hover .submenu li{
        display: block;
    }

    .container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
    header {
        height: 100%;
    }
    .headerContainer {
        padding-top: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25px 3fr;
        grid-template-areas: 
        'log nav'
        'abo abo'
        ;
        justify-items: center;
    }

    .logo {
        justify-self: start;
    }

    .navBar {
        justify-self: end;
    }

    .nav-mobile-menu {
        display: block;
        width: 15px;
        height: 15px;
        position: relative;
    }

    .nav-mobile-menu span {
        height: 1px;
        background-color: #60606e;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out ;
    }

    .nav-mobile-menu span:nth-child(1) {
        top: 3px;
    }

    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }

    .nav-mobile-menu span:nth-child(3) {
        bottom: 3px;
    }

    .nav-mobile-menu.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }

    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }

    .nav-mobile-menu.active-menu span:nth-child(3) {
        transform: scale(0);
    }

    .nav-mobile-menu.active-menu .navBar ul {
      
    }

    .navigation {
        position: fixed;
        z-index: 15;
        top: 0;
        right: 0;
        bottom: 0;
        width: 180px;
        max-width: 180px;
        transition: all 500ms ease-in-out;
        transform: translateX(150%);
        background-color: #d8d9d9;
        border-radius: 5px;
    }

    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        top: 115px;
        transform: translateX(0);

    }

    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }

    .agencyName {
        width: 100%;
        height: 50%;
    }

    .about {
        width: 100%;
    }

    .agencyAbout {
        width: 100%;
    }

    .overlay {
        position: relative;
    }
    
    .titleContainer {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        padding-top: 20px;
    }

    .title {
        margin-top: 0;
    }

    .whatWeDoContainer {
        padding: 10px 0 10px 0;
        height: 100%;
        display: block;
        text-align: center;
    }

    .whatWeDoContainer ul {
        text-align: left;
        margin: 10px 0 10px 100px;
    }

    .macImage img {
        width: 350px;
        height: 230px;
    }

    .square {
        height: 30px;
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .history {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .history .button {
        position: relative;
        bottom: 0;
        margin: 0 auto;
    }

    .hForSquare {
       width: 100%;
       text-align: center;
    }

    .greenSquare {
        left: 40%;
    }

    .history p {
        text-align: center;
    }

    .servicesContainer{
        height: 100%;
        padding-bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: 
        "se"
        "se"
        "se"
        "se"
    ;
    }

    .service {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .service h1 {
        margin: 0;
    }

    .pricingContainer {
        display: block;
        height: 100%;
        margin: 0 auto;
    }

    .plan {
        width: 90%;
        height: 70%;
        margin: 0 auto;margin-bottom: 30px;
        padding-bottom: 10px;
    }
   
    .getInTouchContainer {
        height: 100%;
        display: block;
        padding: 0;
        text-align: center;
    }

    .getInTouch .button {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .stayInformed .button {
        margin: 0 auto;
        margin-top: 20px;
    }

    .footerContainer {
        height: 100%;
        display: block;
        padding: 0;
    }

    .footerContainer .navBar {
        height: 100%; 
    }

    .list li {
        margin: 0 auto;
    }

    .copyRight {
        height: 100%;
        text-align: center;
    }

    .icons {
        height: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .modal-block {
        width: 95%;
    }
}

