* {
    box-sizing: border-box; 
    transition: all 0.5s;
    outline: none;
}	

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #60606e;
    animation: slideInLeft;
    animation-duration: 1s;
    padding: 0;
}

header {
    position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 500px;
    background: url(image/Layer4.png)50% 50% no-repeat;
    background-size: cover;
    transition: all 2s;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.85);
}

.burger {
    display: none;
}

.container {
	width: 1140px;
    margin: 0 auto;
}

.headerContainer {
    padding-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "log nav"
    "abo abo"
    ;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    color: #60606e;
    grid-area: log;
}

.navBar {
    grid-area: nav;
}

.navBar ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.list li {
    height: 30px;
    width: 100px;
    display: block;
}

.list a {
    text-decoration: none;
    color: #60606e;
    text-align: center;
    line-height: 30px;
}

.list span {
    text-decoration: none;
    color: #60606e;
    text-align: center;
    line-height: 30px;
}

.list li:hover {
    transform: scale(1.1);
}

.selected {
    background-color: #7beec7;
    border-radius: 5px;
}

li:hover .animate{
    border: #60606e solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    animation: rotateIn;
    animation-duration: 1s;
}

ul.submenu {
    display: none;
}

.subLi:hover ul.submenu {
    display: block;
    animation: zoomInDown;
    animation-duration: 1s;
}

.submenu li {
    border-radius: 5px;
    width: 200px;
    text-align: left;
    padding-left: 15px;
    color: white;
    background-color: #60606e;
    line-height: 30px;
}

.submenu a {
    color: white;
}

.about {
    grid-area: abo;
    align-self: end;
}

.agencyName {
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.agencyAbout {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.aboutUsContainer {
    padding-top: 150px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
}

.history {
    line-height: 20px;
    position: relative;
}

.history h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 10px;
}

.history p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    width: 95%;
}

.square {
    height: 30px;
    width: 335px;
    margin-bottom: 20px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

.square h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.greenSquare {
    position: absolute;
    width: 65px;
    height: 20px;
    bottom: 0;
    background-color: #7beec7;
}

.hForSquare {
    position: absolute;
    z-index: 10;
}

.history .square {
    margin-left: 0;
}

.button {
    background-color: #7beec7;
    color: white;
    height: 50px;
    width: 165px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 1s;
    transform: scale(1.1);
    cursor: pointer;
}

.titleContainer {
    width: 750px;
    height: 190px;
    margin: 0 auto;
    text-align: center;
    padding: 0 15px 0 15px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    line-height: 20px;
}

.servicesContainer {
    height: 100%;
    padding-bottom: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (1fr 1fr);
    grid-template-areas: 
    "se se se"
    "se se se"
    ;
}

.serviceName {
    display: grid;
    grid-template-columns: 40px 1fr;
}

.service {
    line-height: 30px;
    justify-self: start;
    margin-bottom: 20px;
}

.service h1 {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    margin-left: 15px;
}

.service p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #888892;
    width: 90%;
}
.image {
    background-color: #7beec7; 
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 50px;
}

.photo{
    margin: 0 0 30px 30px;
    position: relative;
    width: 100%;
    height: 100%;
}

.slick-next:before {
    font-size: 50px;
    color:#7beec7
}

.slick-prev:before {
    font-size: 50px;
    color:#7beec7
}

.slick-prev {
    left: -50px;
}

.photo img {
    width: 100%;
    height: 100%;
}

.photo .overlay {
    display: none;
    text-align: center;
    animation: fadeInLeft;
    animation-duration: 1s;
}

.photo:hover .overlay{
    display: block;
}

.employer {
    font-weight: bold;
    font-size: 18px;
    color: #60606e;
    text-align: center;
    margin-top: 50px;
    animation: slideInRight;
    animation-duration: 2s;
}

.job {
    display: inline-block;
    padding: 0 5px 0 5px;
    background-color: #7beec7;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    animation: slideInRight;
    animation-duration: 2s;
}

.readMoreContainer {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 30px 0 30px;
    margin-bottom: 30px;
    height: 150px;
    width: 100%;
    background-color: #efeff0;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    align-items: center;
}

.readMoreContainer .button {
    justify-self: end;
}

.brandsContainer {
    height: 575px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: #888892;
    align-items: center;
}

.jonDoe {
    text-align: center;
}

.johneFoto {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background-image: url(image/Layer13.png);
    margin: 0 auto;
    margin-bottom: 30px;
}

.johneFoto:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.johneFoto a {
    display: block;
    width: 100%;
    height: 100%;
}

.jonDoe .button {
    margin: 0 auto;
    margin-top: 30px;
}

.brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}

.brand {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 100px;
    border: solid 1px #d9d9d9;
}

.brand:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.green {
    background-color: #7beec7;
    color: white;
}

.getInTouchContainer {
    height: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 0 40px 0;
}

.getInTouch h1 {
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 25px 0;
}

.getInTouch .button {
    background-color: white;
    color: #7beec7; 
}

.stayInformed {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 20px 20px 20px 20px;
}

.stayInformed h1{
    color: #60606e;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.stayInformed p {
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
}

.form {
    margin-top: 10px;
    height: 50px;
    border: 1px solid #cdcdcd;
    margin-right: 10px;
}

.form form, input {
    width: 100%;
    height: 100%;
}

.email {
    border: none;
    padding-left: 20px;
}

.email::placeholder {
    color: #cdcdcd;
}

.stayInformed .button {
    margin-top: 20px;
}

.footerContainer {
    padding-top: 50px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'nav cop'
    '. ico'
    ;
}

.copyRight {
    justify-self: end;
    color: #9a9a9a;
    grid-area: cop;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.footerContainer a {
    color: #9a9a9a;
    font-weight: 300;
}

.icons {
    color: #9a9a9a;
    font-size: 18px;
    justify-self: end;
    grid-area: ico;
}

.icons i {
    margin-left: 10px;
}

.icons i:hover {
    color: #7beec7;
    transform: scale(1.1);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.30);
    display: none;
    z-index: 20;
}

.modal2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.30);
    display: none;
    z-index: 20;
}

.modal h3 {
    color: #60606e;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.modal2 h3 {
    color: #60606e;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.modal-block {
	width: 400px;
	margin: 80px auto;
	height: 270px;
	border: 1px solid gray;
	background-color: white;
	padding: 15px;
	box-sizing: border-box;
}

.form-field {
	margin: 10px 0;	
}

.form-field input {
	width: 100%;
	padding: 10px;
    height: 40px;
    border: 1px solid #cdcdcd;
    outline: none;
}

.btn-cloth {
    font-weight: bolder;
    width: 15px;
    height: 15px;
    margin-left: 95%;
}

.btn-cloth2 {
    font-weight: bolder;
    width: 15px;
    height: 15px;
    margin-left: 95%;
}

.btn-cloth:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-cloth2:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hide {
	display: none;
}

.show {
	display: block;
}

@media all and (max-width: 768px) {
    body {
        animation: bounceInLeft;
        animation-duration: 2s;
    }

    .container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
    header {
        height: 100%;
    }
    .headerContainer {
        padding-top: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 25px auto auto 3fr;
        grid-template-areas: 
        'log'
        'bur'
        'nav'
        'abo'
        ;
        justify-items: center;
    }

    .navBar {
        margin-bottom: 10px;
    }

    .agencyName {
        width: 100%;
        height: 50%;
    }

    .about {
        width: 100%;
    }

    .agencyAbout {
        width: 100%;
    }

    .overlay {
        position: relative;
    }
    
    .titleContainer {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        padding-top: 20px;
    }

    .aboutUsContainer {
        padding-top: 10px;
        height: 100%;
        display: block;
    }

    .square {
        height: 30px;
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .history {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .history .button {
        position: relative;
        bottom: 0;
        margin: 0 auto;
    }

    .hForSquare {
       width: 100%;
       text-align: center;
    }

    .greenSquare {
        left: 40%;
    }

    .history p {
        text-align: center;
    }

    .servicesContainer{
        height: 100%;
        padding-bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: 
        "se se"
        "se se"
        "se se"
    ;
    }

    .service {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .service h1 {
        margin: 0;
    }

    .image {
        height: 100%;
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .teamContainer {
        margin: 0 auto;
        width: 75%;
    }

    .employer {
        margin-top: 0;
    }

    .photo {
        margin-left: 0;
    }

    .readMoreContainer {
        padding: 10px 10px 10px 10px;
        text-align: center;
        display: block;
        margin: 0;
        height: 100%;
        width: 100%;
        background-color: #efeff0;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-size: 18px;
        align-items: center;
    }

    .readMoreContainer .button {
        margin: 0 auto;
        margin-top: 10px;
    }

    .brandsContainer {
        height: 100%;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 30px;
        color: #888892;
        align-items: center;
    }

    .jonDoe .button {
        margin: 0 auto;
    }

    .brands {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .brand {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
    .getInTouchContainer {
        height: 100%;
        display: block;
        padding: 0;
        text-align: center;
    }

    .getInTouch .button {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .stayInformed .button {
        margin: 0 auto;
        margin-top: 20px;
    }

    .footerContainer {
        height: 100%;
        display: block;
        padding: 0;
    }

    .footerContainer .navBar {
        height: 100%; 
    }

    .list li {
        margin: 0 auto;
    }

    .copyRight {
        height: 100%;
        text-align: center;
    }

    .icons {
        height: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .modal-block {
        width: 95%;
    }
}

@media all and (max-width: 565px) {
    body {
        animation: bounceInLeft;
        animation-duration: 2s;
    }

    .container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
    header {
        height: 100%;
    }
    .headerContainer {
        padding-top: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 25px auto auto 3fr;
        grid-template-areas: 
        'log'
        'bur'
        'nav'
        'abo'
        ;
        justify-items: center;
    }

    .burger {
        display: block;
        grid-area: bur;
    }

    ul.list {
        height: 100%;
        display: block;
        animation: fadeInDown;
        animation-duration: 1s;
    }

    .toggle {
        display: none;
    } 

    .agencyName {
        width: 100%;
        height: 50%;
    }

    .about {
        width: 100%;
    }

    .agencyAbout {
        width: 100%;
    }

    .overlay {
        position: relative;
    }
    
    .titleContainer {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        padding-top: 20px;
    }

    .aboutUsContainer {
        padding-top: 10px;
        height: 100%;
        display: block;
    }

    .square {
        height: 30px;
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .history {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .history .button {
        position: relative;
        bottom: 0;
        margin: 0 auto;
    }

    .hForSquare {
       width: 100%;
       text-align: center;
    }

    .greenSquare {
        left: 40%;
    }

    .history p {
        text-align: center;
    }

    .servicesContainer{
        height: 100%;
        padding-bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: 
        "se"
        "se"
        "se"
        "se"
        "se"
        "se"
    ;
    }

    .service {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .service h1 {
        margin: 0;
    }

    .image {
        height: 100%;
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .teamContainer {
        margin: 0 auto;
        width: 75%;
    }

    .employer {
        margin-top: 0;
    }

    .photo {
        margin-left: 0;
    }

    .readMoreContainer {
        padding: 10px 10px 10px 10px;
        text-align: center;
        display: block;
        margin: 0;
        height: 100%;
        width: 100%;
        background-color: #efeff0;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-size: 18px;
        align-items: center;
    }

    .readMoreContainer .button {
        margin: 0 auto;
        margin-top: 10px;
    }

    .brandsContainer {
        height: 100%;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 30px;
        color: #888892;
        align-items: center;
    }

    .jonDoe .button {
        margin: 0 auto;
    }

    .brands {
        margin-top: 10px;
        display: block;
    }

    .brand {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
   
    .getInTouchContainer {
        height: 100%;
        display: block;
        padding: 0;
        text-align: center;
    }

    .getInTouch .button {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .stayInformed .button {
        margin: 0 auto;
        margin-top: 20px;
    }

    .footerContainer {
        height: 100%;
        display: block;
        padding: 0;
    }

    .footerContainer .navBar {
        height: 100%; 
    }

    .list li {
        margin: 0 auto;
    }

    .copyRight {
        height: 100%;
        text-align: center;
    }

    .icons {
        height: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .modal-block {
        width: 95%;
    }
}

